*{
	margin:0;
	padding:0; 
}
a{
    color:blue;
}
.wrapperLogin{ 
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100%; 
	box-sizing:border-box;
	color:#323232;
    font-family: arial; 
}
.loginTab{
    padding-top:40px;
	width:400px;
	min-height:350px; 
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:1px solid;
	border-color:transparent;
	border-radius:10px 10px 10px 10px;
	font-family:arial; 
	background-color:rgb(247,247,247);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginTab>img{
	width:120px;
	height:120px;
	position:absolute;
	left:33%;
	margin-top:-110px; 
}

.loginTab p{
	text-align: center;
	font-size:17px;
	font-weight:600; 
	margin-left:120px;
	margin-top:25px; 
	margin-bottom:20px;
	width: 160px; 
}

.loginTab span{
	display:block;
	text-align: center;
	font-size:15px;  
	margin-left:120px;
	margin-top:20px; 
	margin-bottom: 40px;
	width: 160px; 
}

.loginTab>div>form>input{
	width:75%;
	height:30px;
	margin-left: 45px;
	padding-left: 10px;	
	display:block;
	margin:10px auto;
	background-color:rgb(245, 245, 245);
	color:rgb(#323232);
	border:1px solid grey;
	border-radius:5px 5px 5px 5px;
    outline: none; 
    font-size:17px;
}

.loginTab form>input:hover{
	transition:0.5s;
	background-color: rgb(255, 255, 255);
	border-color: lightblue;
}
/*
.loginTab form>button{
	display:block;
	width:75%;
	height:40px;
	background-color:rgb(90,172,68);
	border:1px solid grey;
	margin:auto;
	margin-top:40px;
	margin-bottom:40px;
	color:white;
	font-size:22px;
	cursor:pointer;
}

.loginTab form>button:hover{
    background-color:rgb(86,188,64);

}
*/

@media screen and (max-width:600px){
	.wrapper { 
        background-color: #F9FAFC ; 
	}
	.loginTab{
        background-color:white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }   
    
}
