 .pollComplete{
   padding:0 10px;
 }
 .pollComplete>.pollComplete-restaurant {
  display: grid;
  grid-template-columns: 130px 30px 280px;
  grid-template-rows: 0.8fr 3fr;
  gap: 1px 1px;
  grid-template-areas:
    "restaurant-name restaurant-name    restaurant-name  "
    "restaurant-img   restaurant-votes restaurant-chart  ";
  width:600px; 
  height:auto; 
  margin:20px auto;
  align-items: center;
  align-content: center;
} 

.restaurant-name { grid-area: restaurant-name; padding-right: 30px; }

.restaurant-img { grid-area: restaurant-img;   }

.restaurant-votes { grid-area: restaurant-votes; }

.restaurant-chart { grid-area: restaurant-chart;}


.pollComplete>.pollComplete-restaurant img{
  display: block;
  width:100px;
  border-radius: 10px;
  box-shadow: 1px 0px 8px 2px rgba(0,0,0,0.37);
}
.restaurant-chart>.chart-bar{
  height:25px;
  background-color:rgb(253,181,28);
}
