.pollComplete {
  padding: 0 10px;
}
.pollComplete > .pollComplete-restaurant {
  display: grid;
  grid-template-columns: 130px 30px 280px;
  grid-template-rows: 0.8fr 3fr;
  gap: 1px 1px;
  grid-template-areas:
    "restaurant-name restaurant-name    restaurant-name  "
    "restaurant-img   restaurant-votes restaurant-chart  ";
  width: 600px;
  height: auto;
  margin: 20px auto;
  align-items: center;
  align-content: center;
}

.restaurant-name {
  grid-area: restaurant-name;
  padding-left: 20px;
  padding-bottom: 10px;
}

.restaurant-img {
  grid-area: restaurant-img;
}

.restaurant-votes {
  grid-area: restaurant-votes;
}

.restaurant-chart {
  grid-area: restaurant-chart;
}

.restaurant-chart {
  grid-area: restaurant-chart;
}

.pollComplete > .pollComplete-restaurant img {
  display: block;
  width: 100px;
  border-radius: 10px;
  box-shadow: 1px 0px 8px 2px rgba(0, 0, 0, 0.37);
}

.restaurant-chart > .chart-bar {
  height: 25px;
  background-color: red;
}
.tsd-wrapper {
  text-align: center;
  width: 500px;
  height: auto;
  margin: 25px auto;
  padding: 30px;
  background-color: rgb(231, 230, 230);
  box-shadow: 12px 12px 2px 1px rgba(50, 50, 66, 0.2);
}
.tsd-wrapper > p {
  padding-top: 20px;
}
.button-suspend {
  padding: 15px 40px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.restaurant-chart > .chart-bar {
  height: 25px;
  background-color: rgb(253, 181, 28);
}
.button {
  font-size: 16px;
  background-color: #4caf50;
  padding: 15px 20px;
  color: #fff;
  margin: 20px 0;
}
