/* SHOW TABS */
/* Style the tab */
 #home .tab {
  overflow: hidden; 
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
#home .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px; 
} 

#home .tab button.activeButton{
  background-color:rgb(76,175,80);
}

/* Change background color of buttons on hover */
#home .tab button:hover {
  background-color:rgb(76,175,80);
}

/* Style the tab content */
#home .tabcontent {
  border: 1px solid #ccc;
  border-top: none;
} 

/*******/
#home .pollItem{
  margin-bottom:15px;
}

#home input {
  margin-top: 0.5rem;
}

#home > button {
  padding: 1rem;
  background-color: rgb(76,175,80);
  margin-bottom: 1rem;
}
#home > button:hover {
  cursor: pointer;
}
#home > button:not(:first-child) {
  margin-left: 2rem;
}

#home tbody:hover {
  cursor: pointer;
}