/* SHOW TABS */
/* Style the tab */
#home .tab {
  overflow: hidden;
  background-color: #f1f1f1;
}
#home  .tabcontent  .search, #home  .tabcontent  .search{
  background-color: #4caf50;
}
/* Style the buttons that are used to open the tab content */
#home .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

#home .tab button.activeButton {
  background-color: #4caf50;
  color: #fff;
}

/* Change background color of buttons on hover */
#home .tab button:hover {
  color: #fff;
  /* background-color: #3e8f3f; */
}

/* Style the tab content */
#home .tabcontent {
  border: 1px solid #ccc;
  border-top: none;
}

/*******/
#home .pollItem {
  margin-bottom: 15px;
}

#home input {
  margin-top: 0.5rem;
  width: 300px;
}

#home > button {
  background-color: #4caf50;
  margin-bottom: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}
#home > button:hover {
  cursor: pointer;
  background-color: #3e8f3f;
}
#home button:hover {
  /* background-color: rgb(83, 194, 86); */
  cursor: pointer;
}

#home > button:not(:first-child) {
  margin-left: 2rem;
}

.polls-orders-search {
  width: auto;
  background-color: rgb(76, 175, 80);
}
.polls-orders-search input {
  height: 30px;
  padding-left: 10px;
  outline: none;
}

#home .tab>button{
 width:200px;
 font-weight: bold;
 font-size:1.2em;
 color:grey
}
#home .tab > button:hover {
  /* background-color: rgba(76, 175, 79, 0.527); */
  background-color: #3e8f3f;
}

#home tbody:hover {
  cursor: pointer;
}

#home tr th:first-child:hover {
  cursor: pointer;
  background-color: #3e8f3f;
}
#home a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

#home th {
  cursor: default;
}

#home img {
  width: 1rem;
  margin-left: 0.5rem;
  filter: invert();
  float: right;
}
