.pagination-buttons{
    padding:10px;
    border:1px solid transparent;
    border-radius: 3px;
}
.pagination{
  width:400px;
  height:auto;
  margin:auto; 
}

.page-btn-selected{
    padding:5px;
    border:1px solid transparent;
    border-radius: 3px;
    background-color: lavender;
}
.pagination-buttons:hover,
.page-btn-selected:hover{
    cursor: pointer;
}
.pagination-buttons:hover {
    border: 1px solid rgb(202, 202, 202);
 cursor:pointer;
 background-color: rgb(240, 240, 240);
}
.deleteButton{
    padding:7px;
    border:1px solid rgba(255, 0, 0, 0.589);
    cursor: pointer;
}
.manageRestaurants{
    padding: 2rem;
}