.restaurantList {
  margin: 40px auto;
  width: 400px;
}
.restaurantList > div {
  margin-bottom: 10px;
}
.restaurantList > input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label > .restaurant {
  border: 1px solid green;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(25, 182, 51, 0.19);
}
.radio {
  position: relative;
  top: -57px;
  left: 170px;
}
/*
.restaurant{
    cursor: pointer;
}
.restaurant:hover{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
*/
