<<<<<<< HEAD
 
=======
/*body{
    text-align: center;
}

.createOrder{
    margin: 0 auto;
    border: 1px solid grey;
    width: 60%;
    padding-top: 35px;
    padding-bottom: 50px;
    background-color: #fff;
}

.single-restaurant{
    margin: 10px auto;
    border: 1px solid grey;
    background-color: #f7f6ed;
    width: 220px;
}
.single-restaurant:hover{
    cursor: pointer;
}
.one-restaurant>div{
    background-color: #fff;
    width: 250px;
    margin: 15px auto;
    padding: 5px;
}

.rest-info{
    background-color: #f7f6ed;
    border: 1px solid grey;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}
.rest-info-submit{
    width: 100px;
}

input{
   
    background-color:rgb(245, 245, 245);
}
input:hover{
    background-color:rgb(235, 235, 235);
}
*/
input[type="submit"]{
    display:block;
	width:200px;
	height:40px;
	background-color:rgb(90,172,68);
	border:1px solid grey;
	margin:auto;
	margin-top:40px;
	margin-bottom:40px;
	color:white;
	font-size:22px;
	cursor:pointer;
}

input[type="submit"]:hover{
    background-color:rgb(86,188,64); 
}
/*
p{
    padding: 5px 0;
}
hr{
    color: transparent;
}

.pagination-buttons{
    margin: 15px auto;
}

.page-btn{
    
    background-color: #e6e6e6;
    color: #4d4d4d;
    border: #666666;
}
.page-btn:hover{
    background-color: #737373;
    color:  #e6e6e6;  
    cursor: pointer;
}
.page-btn-selected{
    background-color: #b3b3b3;
    color: #666666;
    border-color: #737373;
}

.titleWrapper{
    width: 60%;
    margin: 2rem auto;
    background-color: #f7f6ed;
}
.restaurantInfo{
    margin-bottom: 0.6rem;
    
}
*/
>>>>>>> 2a79862b86066d742b3765eae55bc3986b012563
