.App {
  text-align: center;
}
.Settings{
  display:flex;
  flex-direction: row;
}
.restaurantFilter{
  padding-bottom: 1rem;
  background-color: blanchedalmond;
}

.page-btn{
  color: rgb(223, 255, 80);
  background-color: deepskyblue;
}
.page-btn:hover{
  background-color: rgb(6, 68, 88);
}
.page-btn-selected{
  border: firebrick 1px solid;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
