body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  border:0px;
  text-decoration: none;
  background-color: transparent;
  padding:0px;
  margin: 0px;
  outline: none;
}
button.bigButton{
	display:block;
	width:200px;
	height:40px;
	background-color:rgb(90,172,68);
	border:1px solid grey;
	margin:auto;
	margin-top:40px;
	margin-bottom:40px;
	color:white;
	font-size:22px;
	cursor:pointer;
}

/****** BUTTON *******/

button.bigButton:hover{
    background-color:rgb(86,188,64); 
}

/****************/



/***** TABLE *****/
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
/*****************/